
// *******************body layout********************
.container {
  @include outer-container();
    @media screen and (min-width: 768px){
      position: relative;
  }
}
header.img-19 {
  @include clearfix;
    margin: 0;
    border-bottom: 4px solid black;
    @media screen and (min-width: 768px){
      height: 22em;
      background-attachment: fixed;
      background-position: right;
    }
    & img {
      display: none;
      @media screen and (min-width: 768px){
        display: block;
        position: absolute;
        width: 8em;
        top: 16.7em;
        left: 45%;
        }
    }
}

.left-column {
  @include span-columns(12);
    margin: 0;
    height: 100%;
    padding: 2% 3% 5% 3%;
    @media screen and (min-width: 768px) {
      @include span-columns(9);
    }
}
.right-column {
  display: none;
    @media screen and (min-width: 768px) {
      @include span-columns(3);
      display: block;
      padding: 2% 1% 0 1%;
      height: 100%;
      p {
        clear: left;
        padding-left: 6px;
      }
      img {
        width: 100%;
      }
    }
}
.top-row, .middle-row, .bottom-row {
  @include span-columns(12);
  margin-top: 5%;

}
.first-article-large {
  @include span-columns(12);
  & img {
    width: 100%;
  }
}
.second-article-medium {
  @include span-columns(12);
  @media screen and (min-width: 768px) {
    @include span-columns(6);
  }
}
.third-article-medium {
  @include span-columns(12);
  @media screen and (min-width: 768px) {
    @include span-columns(6);
  }
}
.second-article-small {
@media screen and (min-width: 768px) {
  @include span-columns(12);
  }
}
