
@mixin anchors($anchor) {
 .container {
   a {
   list-style-type: $anchor;
   text-decoration: $anchor;
   color: lighten($color-first, 20%);
      &:hover {
       color: $color-fourth;
      }
    }
  }
}
@include anchors(none);

@mixin list-items($list) {
  .container {
    ul {
      margin-left: 1%;
      padding-left: 0;
      border-bottom: 3px solid $color-third;
      color: black;
      @include clearfix;
        & li:first-child {
          background-color: $color-third;
          margin-right: 15%;
          color: white;
          padding-bottom: 1.5%;
          float: left;
        }
        li {
          display: $list;
          list-style-type: none;
          text-decoration: none;
          padding: 1% 1.5% 0 1.5%;
          float: right;
          & a {
            @include anchors(none);
          }
        }
      }
  }
}
@include list-items(inline);

@each $color-name, $color-value in $colors {
  .background-#{$color-name} {
      background-color: $color-value;
  }
  .color-#{$color-name} {
     color: $color-value;
   }
   .darken-background-#{$color-name} {
     background-color: darken($color-value,50%)
   }
   .hover-tile p.color-#{$color-name} {
      color: black;
    }

}
@for $i from 1 through 6 {
   h#{$i} {
    margin: 0;
    padding: 6px 8px 0 6px;
    font-size: $font-size;
  }
    .right-column h#{$i} {
      font-size: $font-size - .6em;
   }
   .hover-tile-hidden  h#{$i} {
     font-size: $font-size - .2em;
     padding: 25px 0 10px 0;
   }
 }

@each $image-name, $image-value in $images {
 .img-#{$image-name} {
   background-image: #{$image-value};
   background-size: cover;
   width: 100%;
   height: 300px;
   margin: 5% auto;
 }
 .right-column .img-#{$image-name} {
   float: left;
   width: 40%;
   height: 100px;
   margin: 0 8px 8px;
 }
}
