// ************nav***********.to-nav {
.to-nav {
  @include float_class(right);
  margin: 20px 20px 0 0;
  background: $color-first;
  text-decoration: none;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 2px;
    @media screen and (min-width: $media-mobile) {
        & {
         display: none;
       }
    }
}
.to-nav:hover,
.to-nav:focus {
    background: lighten($color-first, 20%);
}
/******primary nav bottom********/
#primary-nav ul {
  width: 100%;
  margin-top: 0;
  list-style: none;
  padding: 2% 0;
  @media screen and (min-width: $media-mobile){
    @include clearfix;
  }
  & li a {
    display: block;
    padding-left: 10px;
    color: $color-first;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    height: 1.2em;
    @media screen and (min-width: $media-mobile) {
      & {
        display: inline;
        float: right;
        border: none;
        padding: 0 10px;
      }
    }
  }
}
#primary-nav li:last-child a {
    border-bottom: none;
}
#primary-nav li a:hover,
#primary-nav li a:focus {
    border-bottom: 1px solid $color-first;
}
@media screen and (min-width: $media-mobile) {
  #primary-nav {
    position: absolute;
    top: 22em;
    right: 0;
    background: none;
    & .top {
      display: none;
    }
    & li {
        display: inline;
    }
  }
}
