@each $image-name, $image-value in $images {
  .hover-tile-outer-#{$image-name} {
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $medium-screen: 40em !default;
  $hover-tile-height: 30em;
  $base-spacing: 1.5em;
    background: $image-value;
    background-color: beige;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid $base-border-color;
    cursor: pointer;
    width: 400px;
    height: $hover-tile-height;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      width: 100%;
    }
  .hover-tile-outer {
      width: 200px;;
      margin: 0;
  }
    .hover-tile-container {
      height: $hover-tile-height;
      overflow: hidden;
        margin: 0;
    }

    .hover-tile-container:hover > .hover-tile {
      transform: translate(0, -100%);
    }

    .hover-tile {
      background: inherit;
      color: white;
      height: inherit;
      overflow: hidden;
      padding: $base-spacing;
      transition: all 0.2s ease-in-out;
    }

    .hover-tile-hidden {
      background: transparentize(#000, 0.2);

      h4 {
        color: $color-third;
        line-height: $base-line-height;
      }

      p {
        margin: 0 0 0.5em 0;
      }
    }
  }

}
