@each $image-name, $image-value in $images {
  .hover-tile-outer-#{$image-name} {
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $hover-tile-height: 30em;
  $base-spacing: 1.5em;
    background: $image-value;
    background-color: beige;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid $base-border-color;
    cursor: pointer;
    width: 98%;
    height: $hover-tile-height;
    margin-bottom: $base-line-height;
  .hover-tile-outer-10 {
      width: 200px;
      margin: 0;
      @media screen and (max-width: $media-mobile) {
        width: 250px;
      }
  }
    .hover-tile-container {
      height: $hover-tile-height;
      overflow: hidden;
        margin: 0;
    }

    .hover-tile-container:hover > .hover-tile {
      transform: translate(0, -100%);
    }

    .hover-tile {
      background: inherit;
      color: $color-fifth;
      height: inherit;
      overflow: hidden;
      padding: $base-spacing;
      transition: all 0.2s ease-in-out;
    }
    .hover-tile-visible {
       h3 {
        color: $color-first;
        height: inherit;
        background-color: transparentize($color-fifth, .4);
        width: 30%;
        height: 25px;
        text-align: center;
        @media screen and (min-width: $media-mobile) {
          width: 50%;
        }
      }
    }

    .hover-tile-hidden {
      background: transparentize(#000, 0.2);

      & h4 {

        line-height: $base-line-height;
      }

      p {
        margin: 0 0 0.5em 0;
      }
    }
  }

}
