$font-size: 1.5em;
$color-first: #2d2d2d;
$color-second: #f6f6f6;
$color-third: #33889f;
$color-fourth: #90c7c9;
$color-fifth: white;
$color-sixth: #98c699;
$img-1: url("../img/first-article-img.jpg");
$img-2: url("../img/topo.jpg");
$img-3: url("../img/1Matthias-Heiderich.jpg");
$img-4: url("../img/chair.jpg");
$img-5: url("../img/wind.jpg");
$img-6: url("../img/logo-book.jpg");
$img-7: url("../img/minimalist-architecture.jpg");
$img-8: url("../img/olyimpics.jpg");
$img-9: url("../img/sofia-pitch.jpg");
$img-10: url("../img/swiss.jpg");
$img-11: url("../img/Tepoztlán-Mexico.jpg");
$img-12: url("../img/terra-flora.jpg");
$img-13: url("../img/zaha-hadid.jpg");
$img-14: url("../img/animals.png");
$img-15: url("../img/adobe.jpg");
$img-16: url("../img/brooke.jpg");
$img-17: url("../img/fish.jpg");
$img-18: url("../img/wanderers.jpg");


 $images: (
   1: $img-1,
   2: $img-2,
   3: $img-3,
   4: $img-4,
   5: $img-5,
   6: $img-6,
   7: $img-7,
   8: $img-8,
   9: $img-9,
   10: $img-10,
   11: $img-11,
   12: $img-12,
   13: $img-13,
   14: $img-14,
   15: $img-15,
   16: $img-16,
   17: $img-17
 );





$colors: (
  first: $color-first,
  second: $color-second,
  third: $color-third,
  fourth: $color-fourth,
  fifth: $color-fourth
)
