$font-size: 1.5em;
$color-first: #2d2d2d;
$color-second: #f6f6f6;
$color-third: #33889f;
$color-fourth: #90c7c9;
$color-fourth: #98c699;
$img-1: <img src="img/first-article-img.jpg" alt="">;
$img-2: <img src="img/topo.jpg" alt="">;
$img-3: <img src="img/1Matthias-Heiderich.jpg.jpg" alt="">;
$img-4: <img src="img/chair.jpg" alt="">;
$img-5: <img src="img/wind.jpg" alt="">;
$img-6: <img src="img/logo-book.jpg.jpg" alt="">;
$img-7: <img src="img/minimalist-architecture.jpg" alt="">;
$img-8: <img src="img/olyimpics.jpg" alt="">;
$img-9: <img src="img/sofia-pitch.jpg" alt="">;
$img-10: <img src="img/swiss.jpg" alt="">;
$img-11: <img src="img/TepoztlaÌn-Mexico.jpg" alt="">;
$img-12: <img src="img/terra-flora.jpg" alt="">;
$img-13: <img src="img/zaha-hadid.jpg" alt="">;
$img-14: <img src="img/animals.png" alt="">;
$img-15: <img src="img/adobe.jpg" alt="">;
$img-16: <img src="img/brooke.jpg" alt="">;
$img-16: <img src="img/fish.jpg" alt="">;
$img-16: <img src="img/wanderers.jpg" alt="">;

 $images: (
   1: $img-1,
   2: $img-2,
   3: $img-3,
   4: $img-4,
   5: $img-5,
   6: $img-6,
   7: $img-7,
   8: $img-8,
   9: $img-9,
   10: $img-10,
   11: $img-11,
   12: $img-12,
   13: $img-13,
   14: $img-14,
   15: $img-15,
   16: $img-16
 );





// $colors: (
//   first: $color-first,
//   second: $color-second,
//   third: $color-third,
//   fourth: $color-fourth,
//   fifth: $color-fourth
// )
